/* TODO counters? Per avere gli indici nei titoli */

body {
	background-color: white;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }


h1, h2, h3, h4, h5 {
	color: teal;
}

h1, h2 {
	border-bottom: 2px solid teal;
}

h3 {
	border-bottom: 1px solid teal;
}

h2, h3, h4, h5 {
	margin-top: 2em;
}

strong, b {
	color: indigo;
}

del {
	color: #bbb;
	text-decoration: #bbf solid line-through;
}

em {
	color: darkolivegreen;
}

sup {
	font-size: 80%;
}

sub {
	font-size: 60%;
}

body > pre {
	background-color: #f0f9e0;
	padding: 10px;
	border: 1px solid teal;
	color: teal;
}

div.code-title {
	border-top: 1px solid teal;
	border-left: 1px solid teal;
	border-right: 1px solid teal;
	font-family: sans-serif;
	color: #a6d5d5;
	background-color: teal;
	text-transform: uppercase;
	margin: 10px 100px 0px 40px;
	padding: 1px 10px;
}

table, body>pre {
	margin: 10px 100px 15px 40px;
}

div.code-title + pre {
	margin-top: 0px;
}

code {
	color: blueviolet;
	font-size: large;
	text-decoration: underline solid lightgray;
	padding: 3px;
}

table {
	border-collapse: collapse;
}

th {
    background-color: teal;
    color: #a6d5d5;
	height: 25px;
	padding: 8px 10px;
	font-variant: small-caps;
}

table, th, td {
	border: 1px solid #ccc;
}

table:not(.vcolor) tr:nth-child(even) {
	background-color: #e2e2e2;
}

table.vcolor td:nth-child(odd) {
	background-color: #e2e2e2;
}

td {
	color: #555;
	padding: 3px 10px;
}

td > pre {
	color: sienna;
}


.recheck {
	text-decoration: underline dashed magenta;
	color: red;
}
